<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body style="background:url('./Images/FactoryBG.jpg') no-repeat; background-size:100%">
    @RenderBody()
    <div class="container body-content">
        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Demo</p>
            </footer>*@
    </div>
</body>
</html>
